::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.dark ::-webkit-scrollbar-track {
    background: #112117;
}

.dark ::-webkit-scrollbar-thumb {
    background: #254632;
    border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #366348;
}

::-webkit-scrollbar-track {
    background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

.code-row:hover .edit-icon {
    opacity: 1;
}

.neon-glow {
    filter: drop-shadow(0 0 4px #36e27b);
}

.tool-head-glow {
    box-shadow: 0 0 15px 2px #36e27b;
}

.grip-pattern {
    background-image: radial-gradient(circle, currentColor 1px, transparent 1px);
    background-size: 4px 4px;
}
